<div class="padding-6 d-flex flex-column justify-content-stretch">

    <label>Data URL for chart view</label>
    <input type="text" [(ngModel)]="dataUrl" required>

    <label>Data URL for table view</label>
    <input type="text" [(ngModel)]="dataTableUrl" required>

</div>

<!-- Plotly chart specific options -->

<div class="padding-6 d-flex flex-column justify-content-stretch">

    <label i18n="@@widgetSettingsDialog/statschart-lbl-series" for="series-title">Series title</label>
    <input type="text" [(ngModel)]="seriesTitle" name="series-title" id="series-title" required>

</div>
