<h2>HyperIotWidgets v {{version}}</h2>
<p>HyperIotWidgets library includes widgets for the hyperiot dashboard.</p>

<h3>List of available widgets</h3>
<ul>
    <li>algorithm-table</li>
    <li>default-widget</li>
    <li>error-table</li>
    <li>events-log</li>
    <li>event-table</li>
    <li>fourier-chart</li>
    <li>gauge-value</li>
    <li>hpacket-table</li>
    <li>image-data</li>
    <li>realtime-hpacket-table</li>
    <li>sensor-value</li>
    <li>stats-chart</li>
    <li>text-label</li>
    <li>time-chart</li>
</ul>

<h3>List of utility components</h3>
<ul>
    <li>common-toolbar</li>
    <li>cron-editor</li>
</ul>