<div class="dialog">

    <header>Add widget</header>

    <div class="category-list">

        <select size="5" [(ngModel)]="selectedCategory" class="category-select">
            <option *ngFor="let category of widgetCategory" [ngValue]="category">{{category.name}}</option>
        </select>

    </div>

    <button class="button-close" (click)="close()">X Cancel</button>
    <ng-container *ngIf="selectedWidgets.length > 0">
        <button class="button-confirm" (click)="confirm()">Ok</button>
    </ng-container>

</div>
