:host {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    /* variables */
    --header-height: 32px;
}

select {
    width: 100%;
}

.dialog header {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: var(--header-height);
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.dialog {
    position: absolute;
    overflow: hidden; 
    top: 48px; bottom: 48px;
    left: 48px; right: 48px;
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding-top: var(--header-height);
}

.category-list {
    position: absolute;
    left: 0; top: var(--header-height);
    bottom: 0;
    width: 100px;
    border: 0;
    outline: none;
}

.button-close {
    position: absolute;
    right:12px; bottom: 12px;
}
.button-confirm {
    float: right;
}

/* TODO: add responsive media-query for smaller screens (1024 / 640 / 480) */