<div class="padding-6 d-flex flex-column justify-content-stretch">

    <ng-container *ngIf="widget.config">

        <label for="packet-select" i18n="@@widgetSettingsDialog/packet-lbl-type">Select packet</label>
        <select size="5"
                [(ngModel)]="selectedPacket"
                [compareWith]="packetCompare"
                (ngModelChange)="onPacketChange()"
                name="packet-select" id="packet-select">
            <option *ngFor="let packet of projectPackets" [ngValue]="packet">
                {{packet.name}}
                ({{packet.id}})
            </option>
        </select>
    
    </ng-container>
    
    <ng-container *ngIf="selectedPacket != null">
        <label for="field-select">Select field{{ multiPacketSelect ? 's' : '' }}</label>
        <select [size]="multiPacketSelect ? 5 : null"
                [(ngModel)]="selectedFields"
                [multiple]="multiPacketSelect"
                name="field-select" id="field-select">
            <option *ngFor="let field of selectedPacket.fields" [ngValue]="field">{{field.name}}</option>
        </select>
    </ng-container>
    
</div>
