<div class="padding-6 d-flex flex-column justify-content-stretch">

    <ng-container *ngIf="widget.config">

        <div class="d-flex flex-column">
            <label for="packet-select" [ngClass]="{error: selectedPacket == null}"
                i18n="@@widgetSettingsDialog/packet-lbl-type">Select packet</label>
            <select size="5"
                [(ngModel)]="selectedPacket" [compareWith]="packetCompare"
                (ngModelChange)="onPacketChange()"
                name="packet-select" id="packet-select" required>
                <option *ngFor="let packet of projectPackets" [ngValue]="packet">
                    {{packet.name}}
                    ({{packet.id}})
                </option>
            </select>
        </div>

    </ng-container>

    <ng-container *ngIf="selectedPacket != null">

        <div class="d-flex flex-column">
            <label for="field-select" [ngClass]="{error: selectedFields == null || selectedFields.length === 0 || selectedFields[0] === ''}"
                i18n="@@widgetSettingsDialog/packet-lbl-fields">
                Select {multiPacketSelect?1:0, plural, =0 {field} other {fields}}
            </label>
            <select [size]="multiPacketSelect ? 5 : null"
                [(ngModel)]="selectedFields" [multiple]="multiPacketSelect"
                name="field-select" id="field-select" required>
                <option *ngIf="!multiPacketSelect"></option>
                <option *ngFor="let field of selectedPacket.fields" [ngValue]="field">{{field.name}}</option>
            </select>
        </div>

    </ng-container>

</div>