<div class="dialog">

    <header>Widget Settings</header>
    <footer>
        <button class="button-close" (click)="close($event)">Cancel &#10006;</button>
        <button class="button-confirm" (click)="confirm($event)">Apply &#10004;</button>
    </footer>

    <div class="content">

        <div class="common-settings">
            <p><strong>Type</strong>: {{ widget.type }}</p>
            <p><strong>id</strong>: {{ widget.id }}</p>
            <input type="text" [(ngModel)]="widgetName">
        </div>

        <div class="custom-settings" [ngSwitch]="widget.type">
            <div *ngSwitchCase="'sensor-value'">
                <app-sensor-value-settings [widget]="widget" [modalApply]="modalApply">
                </app-sensor-value-settings>
            </div>
            <div *ngSwitchCase="'stats-chart'">
                <app-stats-chart-settings [widget]="widget" [modalApply]="modalApply">
                </app-stats-chart-settings>
            </div>
            <div *ngSwitchCase="'time-chart'">
                <app-time-chart-settings [widget]="widget" [modalApply]="modalApply">
                </app-time-chart-settings>
            </div>
            <div *ngSwitchCase="'text-label'">
                <app-text-label-settings [widget]="widget" [modalApply]="modalApply">
                </app-text-label-settings>
            </div>
            <div *ngSwitchDefault>
                <em>TODO: ....</em>
            </div>
        </div>

    </div>

</div>