<app-packet-select [widget]="widget" [multiPacketSelect]="true" [selectedFields]="selectedFields" (selectedFieldsChange)="onSelectedFieldsChange($event)"></app-packet-select>
<!--
<div *ngFor="let field of selectedFields">{{field.name}}</div>
-->
<!-- Plotly chart specific options -->

<div class="padding-6 d-flex flex-column justify-content-stretch">

    <label
        i18n="@@widgetSettingsDialog/timechart-lbl-series"
        for="series-title"
        [ngClass]="{'error-color': title.invalid}">
        Series title
    </label>
    <input type="text" [(ngModel)]="seriesTitle" #title="ngModel" name="series-title" id="series-title" required>
    
</div>
